
<div>
  <h1>Entities</h1>
  <div *ngFor="let element of elements">
    {{ element }}
    <button (click)="removeElement(element)">⨯</button>
  </div>
  <div>
    Add one more:
    <input [(ngModel)]="newElement" (keyup)="onNewElementKey($event)">
  </div>
</div>

<div>
  <h1>Distance Matrix</h1>
  <div *ngIf="elements.length === 0"><i>there are no entities yet; enter some</i></div>
  <table *ngIf="elements.length > 0">
    <tr *ngFor="let rowElement of elements; index as i">
      <th>{{ rowElement }}</th>
      <td *ngFor="let colElement of elements; index as j">
        ?
      </td>
    </tr>
  </table>
</div>

<div>
  <h1>Enter Score</h1>
  <div *ngFor="let element of scoredElements">
    {{ element }}
  </div>
  <div *ngIf="elements.length < 2"><i>there are not enough entities yet; enter some</i></div>
  <ng-container *ngIf="getUnscoredElements() as unscoredElements">
    <select *ngIf="unscoredElements.length > 0">
      <option value="" disabled selected>select one</option>
      <option *ngFor="let element of unscoredElements">{{ element }}</option>
    </select>
  </ng-container>
</div>

<div>
  <h1>Further development</h1>
  to be continued
</div>
