<div>
  <h1>Entities</h1>
  <table *ngIf="elements.length > 0">
    <tr *ngFor="let element of elements">
      <td>{{ element }}</td>
      <td><button (click)="removeElement(element)">⨯</button></td>
    </tr>
  </table>
  <div>
    Add one more: <input [(ngModel)]="newElement" (keyup)="onNewElementKey($event)">
    or <button (click)="setElementsToOneToFive()">Set to 1..5</button>
    or <button (click)="setElementsToOneTo25Horses()">Set to 25 horses</button>
  </div>
</div>

<div>
  <h1>Distance Matrix</h1>
  <div *ngIf="elements.length === 0"><i>there are no entities yet; enter some</i></div>
  <table *ngIf="elements.length > 0">
    <tr *ngFor="let rowElement of elements; index as row">
      <td>{{ rowElement }}</td>
      <td *ngFor="let colElement of elements; index as column">
        <ng-container *ngIf="getScore(row, column) as score">{{ score }}</ng-container>
        <ng-container *ngIf="getScore(row, column) === undefined">·</ng-container>
      </td>
      <td> ⟨ {{ worseThan(rowElement) }} | {{ betterThan(rowElement) }} 〉 </td>
    </tr>
  </table>
  <ng-container *ngIf="elements.length >= 2">
    <button (click)="shuffle()">Shuffle</button>
    <button (click)="normalize()">Normalize</button>
    <button (click)="sortByIndetermination()">Sort by indetermination</button>
    <button (click)="updateTransitives()">Update transitives</button>
    <button (click)="clearScoreMatrix()">Clear</button>
  </ng-container>
</div>

<div>
  <h1>Enter Score</h1>
  <table>
    <tr *ngFor="let element of scoredElements">
      <td>{{ element }}</td>
      <td><button (click)="removeScoredElement(element)">⨯</button></td>
    </tr>
  </table>
  <div *ngIf="elements.length < 2"><i>there are not enough entities yet; enter some</i></div>
  <ng-container *ngIf="getUnscoredElements() as unscoredElements">
    <div *ngIf="elements.length >= 2 && unscoredElements.length > 0">
      Add one more: <select #newScoredSelect (change)="newScoredSelectChanged()">
        <option value="" disabled selected>select one</option>
        <option *ngFor="let element of unscoredElements">{{ element }}</option>
      </select>
    </div>
    <div *ngIf="elements.length >= 5">
      <button (click)="setScoreForField(0, 5)">Race the 1st five</button>
      <ng-container *ngIf="elements.length >= 10">
        <button (click)="setScoreForField(5, 5)">Race the 2nd five</button>
        <ng-container *ngIf="elements.length >= 15">
          <button (click)="setScoreForField(10, 5)">Race the 3rd five</button>
          <ng-container *ngIf="elements.length >= 20">
            <button (click)="setScoreForField(15, 5)">Race the 4th five</button>
            <ng-container *ngIf="elements.length >= 25">
              <button (click)="setScoreForField(20, 5)">Race the 5th five</button>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </ng-container>
  <div *ngIf="elements.length === 25">
    <button (click)="setScoreForEachNth(5)">Race each 5th leader</button>
  </div>
  <div *ngIf="scoredElements.length >= 2">
    <button (click)="applyNewScore()">Apply score</button>
  </div>
</div>

<div>
  <h1>Further development</h1>
  to be continued
</div>
