
<div>
  <h1>Entities</h1>
  <div *ngFor="let element of elements">
    {{ element }}
    <button (click)="removeElement(element)">⨯</button>
  </div>
  <div>
    Add one more:
    <input [(ngModel)]="newElement" (keyup)="onNewElementKey($event)">
  </div>
</div>

<div>
  <h1>Distance Matrix</h1>
  <div *ngIf="elements.length === 0"><i>there are no entities yet; enter some</i></div>
  <table *ngIf="elements.length > 0">
    <tr *ngFor="let rowElement of elements; index as i">
      <th>{{ rowElement }}</th>
      <td *ngFor="let colElement of elements; index as j">
        ?
      </td>
    </tr>
  </table>
</div>

<div>
  <h1>Enter Score</h1>
  <div *ngIf="elements.length < 2"><i>there are not enough entities yet; enter some</i></div>
  <ng-container *ngIf="elements.length >= 2">
    <select [ngModel]="getScoreElement(0)" (ngModelChange)="setScoreElement(0, $event)">
      <option value="" disabled selected>select one</option>
      <option *ngFor="let element of elements">{{ element }}</option>
    </select>
    <ng-container *ngIf="getScoreElement(0)">
      <span>&nbsp;>&nbsp;</span>
      <select [ngModel]="getScoreElement(1)" (ngModelChange)="setScoreElement(1, $event)">
        <option value="" disabled selected>select one</option>
        <option *ngFor="let element of elements">{{ element }}</option>
      </select>
      </ng-container>
  </ng-container>
</div>

<div>
  <h1>Further development</h1>
  to be continued
</div>
